.countdownContainer {
  display: flex;
  align-items: center;
  font-family: Rajdhani;
  font-weight: 600;
  color: var(--title);
}

.countdownContainer > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: var(--shape);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 8.5rem;
  text-align: center;
}

.countdownContainer > div span {
  flex: 1;
}

.countdownContainer > div span:first-child {
  border-right: 1px solid var(--gray-line);
}

.countdownContainer > div span:last-child {
  border-left: 1px solid var(--gray-line);
}

.countdownContainer > span {
  font-size: 6.25rem;
  margin: 0 0.5rem;
}

.countdownButton {
  width: 100%;
  height: 5rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  background: var(--blue);
  color: var(--shape);
  font-size: 1.25rem;
  font-weight: 600;
  transition: background-color 0.2s;
  position: relative;
  overflow: hidden;
}

.countdownButton img {
  margin-left: 0.5rem;
}

.countdownButton:not(:disabled):hover {
  background: var(--blue-dark);
}

.countdownButton:disabled {
  background: var(--shape);
  color: var(--text);
  cursor: not-allowed;
  border-bottom: 4px solid var(--green);
}


.countdownButtonActive {
  background: var(--shape);
  color: var(--title);
  box-shadow: inset 0 -4px 0px var(--gray-line);
}

.countdownButtonActive span {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background: var(--red);
  border-radius: 1px;
  transition: width 1s linear;
}

.countdownButtonActive:not(:disabled):hover {
  background: var(--red);
  color: var(--shape);
}

.countdownButtonActive:not(:disabled):hover img {
  filter: var(--invert-white);
}

.countdownButtonStart:not(:disabled) img {
  filter: var(--invert-white);
}
