.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-left: 5rem;
}

.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

@media(max-width: 767px) {
  .wrapper {
    margin-left: 0;
  }
  .container {
    margin-top: 7rem;
  }
  .container section {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-content: center;
  }
}
