.wrapper {
  height: 100vh;
  width: 100vw;
  /* background-color: #202024; */
  /* background: linear-gradient(45deg, #202024 0%, #1e1e1e 50%, #202024 100%); */
  background: #202024 url('/bg-moveon.svg') no-repeat center left;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  height: 100vh;
  max-width: 992px;
  padding: 2.5rem 2rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}
.container .logo {
  margin-bottom: 2rem;
}

.container strong {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  color: #fff;
}

.container p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 2rem;
  color: #f2f3f5;
}

.container button {
  width: 100%;
  max-width: 22rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  background: #333;
  border: 1px solid #666;
  color: var(--shape);
  font-size: 1.25rem;
  font-weight: 600;
  transition: filter 0.2s;
  position: relative;
  overflow: hidden;
}

.container button:not(:disabled):hover {
  filter: brightness(0.9);
}

.container button img {
  margin-right: 0.5rem;
}
